<h1>You Made it to teams show page!</h1>

<h1><%= @team.team_name %></h1>
<div class="section yellow">
  <div class="container">
    HI
  </div>
</div>


<div class="section white">
  <div class="row container">
    <h2 class="header">Parallax</h2>
    <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
  </div>
</div>

<div class="section yellow">
  <div class="container">
    HI
  </div>
</div>

<div class="section white">
  <div class="row container">
    <h2 class="header">Parallax</h2>
    <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
  </div>
</div>


<div class="footer-copyright">
  © 2014 Copyright Text
  <a class="grey-text right" href="#!">More Links</a>
</div>
