<div class="parallax-container">
  <div class="video-container">
    <h1 class="title">MyCityMyTeam</h1>
    <iframe src="https://www.youtube.com/embed/P8_pK3HEvBM?rel=0&autoplay=1&controls=0&showinfo=0&loop=1&volume=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen id="video"></iframe>
  </div>
</div>

<div class="row" id="two-row">
  <div class="col m4 s12"> 
    <img class="about-pic" src="http://scmconnections.com/wp-content/uploads/2014/06/Winning-Sports-Team-Image-for-Blog.jpg">
  </div>
  <div class="col l8 s12">
    <a name="app-info"></a>
    <h1>What's MyCityMyTeam?</h1>
    <p1>MyCityMyTeam is your next favorite sports app. Go anywhere in the country
    and know everything that there is to know about a particular team from that particular city.
    Explore a teams history, venue, notable players, live schedule and standings.
    Not only can you learn about each team, plot down a particualr memory you have of that
    team and share it with the world! Explore other user's memory and see who else has that
    special memory of your team!</p1>
  </div>
</div>



<div class="row" id="baseball-pic">
  <a name="sports-info"></a>
  <h2>Sports</h2>
  <div class="row-sports">
    <!-- football -->
    <div class="col m3 s12">
      <div class="card small">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="http://www.cbssports.com/images/blogs/nike-football.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Football</span>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Football<i class="material-icons right">close</i></span>
          <p class="grey-text text-darken-4">American football as a whole is the most popular sport in the United States; professional football and college football are the most popular forms of the game, with the other major levels being high school and youth football. As of 2012, nearly 1.1 million high school athletes and 70,000 college athletes play the sport in the United States annually. The National Football League, the most popular American football league, has the highest average attendance of any sports league in the world; its championship game, the Super Bowl, ranks among the most-watched club sporting events in the world, and the league has an annual revenue of around US$10 billion.</p>
        </div>
      </div>
    </div>
    <!-- baseball -->
    <div class="col m3 s12">
      <div class="card small">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="http://www.cityofcf.com/sites/default/files/assets/programs/baseball_on_baseline.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Baseball</span>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Baseball<i class="material-icons right">close</i></span>
          <p class="grey-text text-darken-4">In the United States and Canada, professional Major League Baseball (MLB) teams are divided into the National League (NL) and American League (AL), each with three divisions: East, West, and Central. The major league champion is determined by playoffs that culminate in the World Series. The top level of play is similarly split in Japan between the Central and Pacific Leagues and in Cuba between the West League and East League.</p>
        </div>
      </div>
    </div>
    <!-- basketball -->
    <div class="col m3 s12">
      <div class="card small">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="http://greenvillerec.com/wp-content/uploads/2009/04/basketball-floor.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Basketball</span>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Basketball<i class="material-icons right">close</i></span>
          <p class="grey-text text-darken-4">Basketball is one of the world's most popular and widely viewed sports. The National Basketball Association (NBA) is the most popular and widely considered to be the highest level of professional basketball in the world and NBA players are the world's best paid sportsmen, by average annual salary per player. Outside North America, the top clubs from national leagues qualify to continental championships such as the Euroleague and FIBA Americas League. The FIBA Basketball World Cup attracts the top national teams from around the world. Each continent hosts regional competitions for national teams, like EuroBasket and FIBA Americas Championship.</p>
        </div>
      </div>
    </div>
    <!-- hockey -->
    <div class="col m3 s12">
      <div class="card small">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="https://www.plymouth.edu/arena/files/2010/07/Hockey-stick-and-ball-wallpaper.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Hockey</span>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Hockey<i class="material-icons right">close</i></span>
          <p class="grey-text text-darken-4">A fast-paced, physical sport, ice hockey is most popular in areas of North America (particularly Canada and the northern United States) and northern and eastern Europe. Ice hockey is the official national winter sport of Canada, where the game enjoys immense popularity. In North America, the National Hockey League (NHL) is the highest level for men's hockey and the most popular. The Kontinental Hockey League (KHL) is the highest league in Russia and much of Eastern Europe. The International Ice Hockey Federation (IIHF) is the formal governing body for international ice hockey. The IIHF manages international tournaments and maintains the IIHF World Ranking. Worldwide, there are ice hockey federations in 74 countries.</p>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- city image carousel -->
  <div class="row" id="row-slider">
    <a name="cities"></a>
    <div class="slider">
   <ul class="slides" id="slider-list">
     <li>
       <%= link_to image_tag('http://readingpartners.org/wp-content/uploads/2015/02/LosAngeles.jpg'), city_path(1) %> <!-- Los Angeles Image -->
       <div class="caption center-align">
         <h1>Los Angeles</h1>
       </div>
     </li>
     <li>
       <%= link_to image_tag('https://pixabay.com/static/uploads/photo/2015/03/26/09/48/golden-gate-bridge-690346_960_720.jpg'), city_path(2) %> <!-- San Fran Image -->
       <div class="caption center-align">
         <h1>San Francisco</h1>
       </div>
     </li>
     <li>
       <%= link_to image_tag('http://www.kaleidoscopeadventures.com/wp-content/uploads/2014/04/chicago_bean_and_life_by_alierturk-d3agi0u.jpg'), city_path(4) %> <!-- Chicago image -->
       <div class="caption center-align">
         <h1>Chicago</h1>
       </div>
     </li>
     <li>
        <%= link_to image_tag('https://content.edmc.edu/assets/modules/ContentWebParts/AI/Locations/New-York-City/startpage-masthead-slide.jpg'), city_path(3) %> <!-- New york image -->
       <div class="caption center-align">
         <h1>New York</h1>
       </div>
     </li>
   </ul>
 </div>
  </div>
