<div class="parallax-container" id="video">
  <div class="video-container">
    <iframe src="https://www.youtube.com/embed/P8_pK3HEvBM?rel=0&autoplay=1&controls=0&showinfo=0&loop=1&iv_load_policy=3&enablejsapi=1" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
</div>

<div class="section white">
  <div class="row container">
    <h2 class="header">Parallax</h2>
    <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
  </div>
</div>

<div class="parallax-container" id="home-pic">
  <div class="parallax"><img src="http://static2.businessinsider.com/image/526abc156bb3f7952b48a0a1/the-theory-that-baseball-is-dying-is-a-total-myth.jpg"></div>
</div>

<div class="section white">
  <div class="row container">
    <h2 class="header">Parallax</h2>
    <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
  </div>
</div>


<div class="footer-copyright">
  © 2014 Copyright Text
  <a class="grey-text right" href="#!">More Links</a>
</div>
