<div class="parallax-container" id="video">
  <div class="video-container">
    <iframe src="https://www.youtube.com/embed/P8_pK3HEvBM?rel=0&autoplay=1&controls=0&showinfo=0&loop=1&iv_load_policy=3&enablejsapi=1" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
</div>

<div class="row">
  <div class="col m4 s12">
    <img class="about-pic" src="http://scmconnections.com/wp-content/uploads/2014/06/Winning-Sports-Team-Image-for-Blog.jpg">
  </div>
  <div class="col l8 s12">
    <h1>Hi</h1>
    <p>even use the designated toilet area. He restates the importance of the signal fire and attempts to allay the group’s growing fear of beasts and monsters. The littluns, in particular, are increasingly plagued by nightmare visions. Ralph says there are no monsters on the island. Jack likewise maintains that there is no beast, saying that everyone gets frightened and it is just a matter of putting up with it. Piggy seconds Ralph’s rational claim, but a ripple of fear runs through the group nonetheless.
      One of the littluns speaks up and claims that he has actually seen a beast. When the others press him and ask where it could hide during the daytime, he suggests that it might come up from the ocean at night. This previously unthought-of explanation terrifies all the boys, and the meeting plunges into chaos. Suddenly, Jack proclaims that if there is a beast, he and his hunters will hunt it down and kill it. Jack torments Piggy and runs away, and many of the other boys run after him. Eventually, only Ralph, Piggy, and Simon are left. In the distance, the hunters who have followed Jack dance and chant.
      Piggy urges Ralph to blow the conch shell and summon the boys back to the group, but Ralph is afraid that the summons will go ignored and that any vestige of order will then disintegrate. He tells Piggy and Simon that he might relinquish leadership of the group, but his friends reassure him that the boys need his guidance. As the group drifts off to sleep, the sound of a littlun crying echoes along the beach.</p>
  </div>

</div>



<div class="parallax-container" id="home-pic">
  <div class="parallax"><img src="http://static2.businessinsider.com/image/526abc156bb3f7952b48a0a1/the-theory-that-baseball-is-dying-is-a-total-myth.jpg"></div>
</div>

<h1>Cities</h1>


  <div class="row container">
    <div class="slider">
   <ul class="slides">
     <li>
       <img src="http://lorempixel.com/580/250/nature/1"> <!-- random image -->
       <div class="caption center-align">
         <h3>This is our big Tagline!</h3>
         <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
       </div>
     </li>
     <li>
       <img src="http://lorempixel.com/580/250/nature/2"> <!-- random image -->
       <div class="caption left-align">
         <h3>Left Aligned Caption</h3>
         <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
       </div>
     </li>
     <li>
       <img src="http://lorempixel.com/580/250/nature/3"> <!-- random image -->
       <div class="caption right-align">
         <h3>Right Aligned Caption</h3>
         <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
       </div>
     </li>
     <li>
       <img src="http://lorempixel.com/580/250/nature/4"> <!-- random image -->
       <div class="caption center-align">
         <h3>This is our big Tagline!</h3>
         <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
       </div>
     </li>
   </ul>
 </div>
  </div>



<div class="footer-copyright">
  © 2014 Copyright Text
  <a class="grey-text right" href="#!">More Links</a>
</div>
