// Place all the styles related to the teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.memory-row{
  height: 600px;
  background-color: #455a64;
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

#scatter-plot{
  margin-bottom: 30px;
}

.team-show-row{
  height: 300px;
  background-image: url('http://losangeles.dodgers.mlb.com/images/facebook/clubcovers/la/LAD_12-Facebook-Timeline-Covers_dodger-blue_MISCELLANEOUS.jpg');
}

.team-show-row h1{
  text-align: center;
  color: white;
  font-size: 25vh;
  margin-top: 0px;

}

#create-memory-modal{
  color: black;
}

.history-pic{
  width: 420px;
  height: 300px;
  border: 3px solid black;
  position: relative;
  margin: 12px 20px 20px 9px;
}

.venue-pic{
  width: 420px;
  height: 300px;
  border: 3px solid black;
  margin: 12px 20px 20px 9px;
  position: relative;
}

#history-row{
  height: 300px;
}

#venue-row{
  height: 300px;
}

// #venue-text{
//   width:100%;
// }

#venue-pic{

}
